@{
    Layout = "_home";
}

<div class="row imgWidth">
    <div class="col-md-12">
        <img src="~/Images/garanties_header_1180x60_nl_0.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/covid_garanties.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/omruil_garanties.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/laagsteprijs_garanties_180820_640x316_nl.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Images/repatriering_garanties.jpg" />
    </div>
</div>
