<footer class="border-top footer text-muted">
    <div class="container">

        <img src="~/Images/TuiSmall.png" />   - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
